@import "breakpoint";
#root{
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
}
.main-wrapper{
    overflow: hidden;
    @include xs{
        min-width: 100svw;
        height: 99.75svh;
    };
    @include lg{
        display: flex;
    };
}

.nav{
    background-color: black;
    color: white;
    @include xs{
        min-width: 100%;
        height: 10%;
    };
    @include lg{
        min-width: 5%;
        height: 100%;
    };
}

.hero{
    z-index: 1;
    @include xs{
        min-width: 100%;
        height: 45%;
        background-color: #433888;
    };
    @include lg{
        min-width: 25%;
        height: 100%;
    };
}

.section-head::before{
    clip-path: path('M 0 0 L 160 0 C 185 2, 175 16, 200 18 L 0 50 z');
    position: absolute;
}

.section-head{
    position: relative;
    z-index: 2;
    display: flex;
    
    //margin: 10em auto 10em;
    @include xs{
        min-width: 100%;
        height: 15%;
        background-color: lightblue;
        outline: thin solid black;
        flex-direction: row;
        align-items: center;
        //margin-top: -10%
    };
    @include lg{
        min-width: 25%;
        height: 100%;
        margin-top: 0;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        //margin-left: -2.5%;
    };
}

.head-name{
    font-size: 3rem;
    font-weight: 600;
    margin-left: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    
}

.head-image{
    border: thin solid black;
    margin-inline: auto;
    @include xs{
        width: 60%;
        height: 95%;
        display: none;
    };
    @include lg{
        width: 95%;
        height: 70%;
        display: block;
        margin-bottom: 1rem;
        border-radius: 0.5rem;
        
    };
}

.section-body{
    background-color: #e8e7e7;
    z-index: 4;
    outline: thin solid black;
    display: grid;
    @include xs{
        min-width: 100%;
        min-height: 75%;
        grid-template-columns: 100% ;
        //margin-left: 2rem;
        //padding: 1rem;
        grid-template-rows: 35% 35% 35%; 
        column-gap: 10px;
    };
    @include lg{
        
        min-width: 75%;
        min-height: 100%;
        grid-template-columns: 29.5% 29.5% 29.5%;
        margin-left: 2rem;
        padding: 1rem;
        grid-template-rows: 35% 35% 35%; 
        column-gap: 10px;
        row-gap: 10px;
        overflow: auto;
        
    };
}

.student{
    background: url(./assets/student.jpg);
    @include xs{
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat
    };
    @include lg{
        background-size: contain;
    };
}

.nursery-head{
    margin-top: 0%;
    margin-left: 0%;
    background-color: #a392d2;
    cursor: not-allowed;
}

.nursery-head > .head-image{
    background-image: url(./assets/nursery.jpg);
}

.primary-head{
    background-color: #b2a7d0;
    cursor: not-allowed;
}

.primary-head > .head-image{
    background-image: url(./assets/primary.webp);
    background-position: center;
}

.secondary-head{
    background-color: #C9C3D9;
    cursor: pointer;
}

.secondary-head > .head-image{
    background-image: url(./assets/secondary.PNG);
    background-position: center;
    background-size: cover;
}
