@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Inter', sans-serif;
}

.main {
  overflow-x: hidden;
  z-index: 1;
}

.nav {
  width: 100%;
  height: 10vh;
  background-color: black;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  border-bottom: 4px solid #21116F;
}

.horizontal-sliders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  width: 500%;
  overflow-x: hidden;
}

.slide {
  padding-top: 10vh;
  height: 90vh;
  overflow: hidden;
  width: 100%;
}

.next-block {
  padding-top: 10vh;
  height: 90vh;
}

.hero-desktop {
  width: 100%;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: thin solid black;
}

.desktop-hero-text {
  width: 55%;
  height: 100%;
  font-size: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  font-weight: 700;
}

.desktop-hero-carousel {
  width: 45%;
  height: 100%;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.slider-col1 {
  width: 50%;
  height: 800%;
  border-right: 1px solid white;
  will-change: transform;
  -webkit-animation: marquee 60s linear infinite;
          animation: marquee 60s linear infinite;
}

.slider-col1 .reel1 .slider-image:nth-child(1) {
  background-image: url(./assets/1.jpg);
  background-size: cover;
  background-position: top;
}

.slider-col1 .reel1 .slider-image:nth-child(2) {
  background-image: url(./assets/2.jpg);
  background-size: cover;
  background-position: top;
}

.slider-col1 .reel1 .slider-image:nth-child(3) {
  background-image: url(./assets/5.jpg);
  background-size: cover;
  background-position: top;
}

.slider-col1 .reel1 .slider-image:nth-child(4) {
  background-image: url(./assets/4.jpg);
  background-size: cover;
  background-position: top;
}

.slider-col1 .reel1 .slider-image:nth-child(5) {
  background-image: url(./assets/5.jpg);
  background-size: cover;
  background-position: top;
}

.slider-col1 .reel1 .slider-image:nth-child(6) {
  background-image: url(./assets/6.jpg);
  background-size: cover;
  background-position: top;
}

.slider-col1 .reel1 .slider-image:nth-child(7) {
  background-image: url(./assets/7.jpg);
  background-size: cover;
  background-position: top;
}

.slider-col1 .reel1 .slider-image:nth-child(8) {
  background-image: url(./assets/8.jpg);
  background-size: cover;
  background-position: top;
}

.slider-col1 .reel1 .slider-image:nth-child(9) {
  background-image: url(./assets/9.jpg);
  background-size: cover;
  background-position: top;
}

.slider-col1 .reel1 .slider-image:nth-child(10) {
  background-image: url(./assets/10.jpg);
  background-size: cover;
  background-position: top;
}

.slider-col1 .reel2 .slider-image:nth-child(1) {
  background-image: url(./assets/1.jpg);
  background-size: cover;
  background-position: top;
}

.slider-col1 .reel2 .slider-image:nth-child(2) {
  background-image: url(./assets/2.jpg);
  background-size: cover;
  background-position: top;
}

.slider-col1 .reel2 .slider-image:nth-child(3) {
  background-image: url(./assets/3.jpg);
  background-size: cover;
  background-position: top;
}

.slider-col1 .reel2 .slider-image:nth-child(4) {
  background-image: url(./assets/4.jpg);
  background-size: cover;
  background-position: top;
}

.slider-col1 .reel2 .slider-image:nth-child(5) {
  background-image: url(./assets/5.jpg);
  background-size: cover;
  background-position: top;
}

.slider-col1 .reel2 .slider-image:nth-child(6) {
  background-image: url(./assets/6.jpg);
  background-size: cover;
  background-position: top;
}

.slider-col1 .reel2 .slider-image:nth-child(7) {
  background-image: url(./assets/7.jpg);
  background-size: cover;
  background-position: top;
}

.slider-col1 .reel2 .slider-image:nth-child(8) {
  background-image: url(./assets/8.jpg);
  background-size: cover;
  background-position: top;
}

.slider-col1 .reel2 .slider-image:nth-child(9) {
  background-image: url(./assets/9.jpg);
  background-size: cover;
  background-position: top;
}

.slider-col1 .reel2 .slider-image:nth-child(10) {
  background-image: url(./assets/10.jpg);
  background-size: cover;
  background-position: top;
}

.slider-col2 {
  width: 50%;
  height: 800%;
  will-change: transform;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-animation: marqueereverse 60s linear infinite;
          animation: marqueereverse 60s linear infinite;
}

.slider-col2 .reel1 .slider-image:nth-child(1) {
  background-image: url(./assets/11.jpg);
  background-size: cover;
  background-position: top;
}

.slider-col2 .reel1 .slider-image:nth-child(2) {
  background-image: url(./assets/12.jpg);
  background-size: cover;
  background-position: top;
}

.slider-col2 .reel1 .slider-image:nth-child(3) {
  background-image: url(./assets/13.jpg);
  background-size: cover;
  background-position: top;
}

.slider-col2 .reel1 .slider-image:nth-child(4) {
  background-image: url(./assets/14.jpg);
  background-size: cover;
  background-position: top;
}

.slider-col2 .reel1 .slider-image:nth-child(5) {
  background-image: url(./assets/15.jpg);
  background-size: cover;
  background-position: top;
}

.slider-col2 .reel1 .slider-image:nth-child(6) {
  background-image: url(./assets/16.jpg);
  background-size: cover;
  background-position: top;
}

.slider-col2 .reel1 .slider-image:nth-child(7) {
  background-image: url(./assets/17.jpg);
  background-size: cover;
  background-position: top;
}

.slider-col2 .reel1 .slider-image:nth-child(8) {
  background-image: url(./assets/18.jpg);
  background-size: cover;
  background-position: top;
}

.slider-col2 .reel1 .slider-image:nth-child(9) {
  background-image: url(./assets/19.jpg);
  background-size: cover;
  background-position: top;
}

.slider-col2 .reel1 .slider-image:nth-child(10) {
  background-image: url(./assets/20.jpg);
  background-size: cover;
  background-position: top;
}

.slider-col2 .reel2 .slider-image:nth-child(1) {
  background-image: url(./assets/11.jpg);
  background-size: cover;
  background-position: top;
}

.slider-col2 .reel2 .slider-image:nth-child(2) {
  background-image: url(./assets/12.jpg);
  background-size: cover;
  background-position: top;
}

.slider-col2 .reel2 .slider-image:nth-child(3) {
  background-image: url(./assets/13.jpg);
  background-size: cover;
  background-position: top;
}

.slider-col2 .reel2 .slider-image:nth-child(4) {
  background-image: url(./assets/14.jpg);
  background-size: cover;
  background-position: top;
}

.slider-col2 .reel2 .slider-image:nth-child(5) {
  background-image: url(./assets/15.jpg);
  background-size: cover;
  background-position: top;
}

.slider-col2 .reel2 .slider-image:nth-child(6) {
  background-image: url(./assets/16.jpg);
  background-size: cover;
  background-position: top;
}

.slider-col2 .reel2 .slider-image:nth-child(7) {
  background-image: url(./assets/17.jpg);
  background-size: cover;
  background-position: top;
}

.slider-col2 .reel2 .slider-image:nth-child(8) {
  background-image: url(./assets/18.jpg);
  background-size: cover;
  background-position: top;
}

.slider-col2 .reel2 .slider-image:nth-child(9) {
  background-image: url(./assets/19.jpg);
  background-size: cover;
  background-position: top;
}

.slider-col2 .reel2 .slider-image:nth-child(10) {
  background-image: url(./assets/20.jpg);
  background-size: cover;
  background-position: top;
}

.reel1 {
  width: 100%;
  height: 50%;
}

.reel2 {
  width: 100%;
  height: 50%;
}

.slider-image {
  width: 100%;
  height: 10%;
  border: thin solid #383838;
  background-color: gray;
}

@-webkit-keyframes marquee {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@keyframes marquee {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@-webkit-keyframes marqueereverse {
  from {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes marqueereverse {
  from {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.director-content {
  width: 90%;
  margin-left: 10%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid black;
}

.director-welcome {
  width: 90%;
  margin-left: 10%;
  height: 20%;
  font-size: 6rem;
  font-weight: 600;
}

.director-col1 {
  width: 30%;
  height: 100%;
}

.dir-address {
  font-size: 2.5rem;
  font-weight: 500;
  padding-block: 1rem;
}

.dir-image {
  width: 90%;
  height: 70%;
  background-color: gray;
  background: url(./assets/director.jpg);
  background-size: cover;
  background-position: center;
}

.dir-name {
  font-size: 1.25rem;
  color: #555;
  margin-top: 1rem;
}

.director-col2 {
  width: 70%;
  height: 100%;
  padding: 1rem;
  font-weight: 500;
}

.director-col2 > p {
  padding: 0.25rem;
}

.recognition-slide {
  border: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recognition-slide > .title-intro {
  width: 35%;
  height: 89vh;
  border-right: 3px solid black;
}

.rec-title {
  font-size: 3.25rem;
  font-weight: 600;
  padding: 1rem;
}

.rec-text {
  border-top: 3px solid black;
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: 500;
}

.recognition-menu {
  font-size: 2.5rem;
  font-weight: 600;
  padding: 1rem;
}

.rec-item:hover {
  color: #21116F;
  cursor: pointer;
}

.rec-active {
  color: #321aaa;
  -webkit-text-stroke: black;
}

.rec-active::before {
  content: '-';
}

.recognition-main {
  width: 65%;
  height: 89vh;
}

.recognition {
  min-width: 100%;
  height: 100%;
}

.headboy-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headboy-img {
  width: 30%;
  height: 100%;
  background-image: url(./assets/hbp.jpg);
  background-size: cover;
  background-position: center;
}

.headboy-text {
  width: 70%;
  height: 100%;
}

.headboy-text > .title {
  font-size: 4rem;
  padding: 1rem;
  font-weight: 600;
  border-bottom: 2px solid black;
}

.headboy-text > .text {
  padding: 1rem;
  font-weight: 500;
}

.headboy-text > .text > p {
  padding: 0.5rem;
  font-size: 1.15rem;
}

.group-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-left: 3px solid black;
}

.group-image {
  height: 85%;
  aspect-ratio: 16/11;
  background-image: url(./assets/IMG_9907a.png);
  background-size: cover;
  border: 4px solid black;
}

.group-slide > p {
  font-size: 3rem;
  font-weight: 700;
}

.headgirl-img {
  width: 30%;
  height: 100%;
  background-image: url(./assets/hgr.jpg);
  background-size: cover;
  background-position: center;
}

.headgirl-text {
  width: 70%;
  height: 100%;
}

.headgirl-text > .title {
  font-size: 4rem;
  padding: 1rem;
  font-weight: 600;
  border-bottom: 2px solid black;
}

.headgirl-text > .text {
  padding: 1rem;
  font-weight: 500;
}

.headgirl-text > .text > p {
  padding: 0.125rem;
  font-size: 2rem;
}

.principal-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.principal-side {
  min-width: 25%;
  height: 100%;
  border-left: 3px solid black;
  border-right: 3px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.principal-slide > ol {
  font-size: 1.625rem;
  margin-inline: auto;
}

.principal-slide > ol > li {
  margin-block: 2rem;
  padding-inline: 0.25rem;
  font-weight: 600;
}

.principal-title {
  font-size: 2.5rem;
  font-weight: 700;
  padding-block: 1rem;
}

.principal-image {
  width: 100%;
  height: 69%;
  background-color: gray;
  background: url(./assets/mrdave.jpg);
  background-position: top;
  background-size: cover;
  background-position: center;
}

.principal-name {
  font-size: 1.25rem;
  color: #555;
  margin-top: 1rem;
}

.students-slide {
  width: 95vw;
  height: 120vh;
  padding-block: 2.5vh;
  padding-inline: 2.5vw;
  background-color: white;
  border-top: 3px solid black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 5px;
}

.students-slide > div {
  background-color: black;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.student-name {
  width: 100%;
  height: 20%;
  background-color: white;
  border: medium solid black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 1.25rem;
}

.students-slide > div:nth-child(1) {
  background-image: url(./assets/1.jpg);
  background-size: cover;
}

.students-slide > div:nth-child(1):hover {
  background-image: url(./assets/a1.jpg);
  background-size: cover;
}

.students-slide > div:nth-child(2) {
  background-image: url(./assets/2.jpg);
  background-size: cover;
}

.students-slide > div:nth-child(2):hover {
  background-image: url(./assets/a2.jpg);
  background-size: cover;
}

.students-slide > div:nth-child(3) {
  background-image: url(./assets/3.jpg);
  background-size: cover;
}

.students-slide > div:nth-child(3):hover {
  background-image: url(./assets/a3.jpg);
  background-size: cover;
}

.students-slide > div:nth-child(4) {
  background-image: url(./assets/4.jpg);
  background-size: cover;
}

.students-slide > div:nth-child(4):hover {
  background-image: url(./assets/a4.jpg);
  background-size: cover;
}

.students-slide > div:nth-child(5) {
  background-image: url(./assets/5.jpg);
  background-size: cover;
}

.students-slide > div:nth-child(5):hover {
  background-image: url(./assets/a5.jpg);
  background-size: cover;
}

.students-slide > div:nth-child(6) {
  background-image: url(./assets/6.jpg);
  background-size: cover;
}

.students-slide > div:nth-child(6):hover {
  background-image: url(./assets/a6.jpg);
  background-size: cover;
}

.students-slide > div:nth-child(7) {
  background-image: url(./assets/7.jpg);
  background-size: cover;
}

.students-slide > div:nth-child(7):hover {
  background-image: url(./assets/a7.jpg);
  background-size: cover;
}

.students-slide > div:nth-child(8) {
  background-image: url(./assets/8.jpg);
  background-size: cover;
}

.students-slide > div:nth-child(8):hover {
  background-image: url(./assets/a8.jpg);
  background-size: cover;
}

.students-slide > div:nth-child(9) {
  background-image: url(./assets/12.jpg);
  background-size: cover;
}

.students-slide > div:nth-child(9):hover {
  background-image: url(./assets/a9.jpg);
  background-size: cover;
}

.students-slide > div:nth-child(10) {
  background-image: url(./assets/14.jpg);
  background-size: cover;
}

.students-slide > div:nth-child(10):hover {
  background-image: url(./assets/a10.jpg);
  background-size: cover;
}

.students-slide > div:nth-child(11) {
  background-image: url(./assets/13.jpg);
  background-size: cover;
}

.students-slide > div:nth-child(11):hover {
  background-image: url(./assets/a11.jpg);
  background-size: cover;
}

.students-slide > div:nth-child(12) {
  background-image: url(./assets/15.jpg);
  background-size: cover;
}

.students-slide > div:nth-child(12):hover {
  background-image: url(./assets/a12.jpg);
  background-size: cover;
}

.students-slide > div:nth-child(13) {
  background-image: url(./assets/16.jpg);
  background-size: cover;
}

.students-slide > div:nth-child(13):hover {
  background-image: url(./assets/a13.jpg);
  background-size: cover;
}

.students-slide > div:nth-child(14) {
  background-image: url(./assets/17.jpg);
  background-size: cover;
}

.students-slide > div:nth-child(14):hover {
  background-image: url(./assets/a14.jpg);
  background-size: cover;
}

.students-slide > div:nth-child(15) {
  background-image: url(./assets/18.jpg);
  background-size: cover;
}

.students-slide > div:nth-child(15):hover {
  background-image: url(./assets/a15.jpg);
  background-size: cover;
}

.students-slide > div:nth-child(16) {
  background-image: url(./assets/19.jpg);
  background-size: cover;
}

.students-slide > div:nth-child(16):hover {
  background-image: url(./assets/a16.jpg);
  background-size: cover;
}

.students-slide > div:nth-child(17) {
  background-image: url(./assets/20.jpg);
  background-size: cover;
}

.students-slide > div:nth-child(17):hover {
  background-image: url(./assets/a17.jpg);
  background-size: cover;
}

.students-slide > div:nth-child(18) {
  background-image: url(./assets/21.jpg);
  background-size: cover;
}

.carting-wrapper {
  width: 100%;
  height: 100%;
  background-color: #21116f;
}

.carting-text {
  font-size: 1.5rem;
  color: white;
  padding: 1rem;
}

.rec-type-slide {
  width: 20%;
  height: 20%;
  background-color: gray;
}

.cart-slides {
  margin-left: 2.5%;
  width: 95%;
  height: 65%;
  background: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.cart1 {
  background: url(./assets/cart1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.cart2 {
  background: url(./assets/cart2.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.cart3 {
  background: url(./assets/cart3.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.cart4 {
  background: url(./assets/cart4.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.mun-wrapper {
  width: 100%;
  height: 100%;
  background-color: #094a36;
}

.mun-text {
  font-size: 1.5rem;
  color: white;
  padding: 1rem;
}

.mun-slides {
  margin-left: 2.5%;
  width: 95%;
  height: 65%;
  background: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
}

.mun1 {
  background: url(./assets/mun1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.mun2 {
  background: url(./assets/mun2.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.mun3 {
  background: url(./assets/mun3.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.mun4 {
  background: url(./assets/mun4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.mun5 {
  background: url(./assets/mun5.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.mun6 {
  background: url(./assets/mun6.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.mobile-nav {
  width: 99.75%;
  height: 10vh;
  border-bottom: 5px solid #21116F;
  background-color: black;
  color: white;
  overflow-x: hidden;
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  z-index: 99;
}

.lwa-mobile-icon {
  width: 15%;
  aspect-ratio: 1.2/1;
  background: url(./assets/logo-lwa.png);
  background-size: cover;
}

.mobile-wrapper {
  width: 100%;
  overflow-x: hidden;
  height: auto;
}

.mobile-hero {
  width: 100%;
  height: 90dvh;
}

.hero-top {
  width: 100%;
  height: 60%;
  border-bottom: thin solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 3.25rem;
  font-weight: 600;
}

.hero-image {
  width: 100%;
  height: 40%;
  background-color: grey;
  background: url(./assets/IMG_9907a.png);
  background-size: cover;
  -webkit-filter: grayscale(0.15);
          filter: grayscale(0.15);
  border: 3px solid black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mobile-speeches {
  border-top: thin solid black;
  width: 100%;
  height: auto;
}

.speech-head {
  margin-top: 30px;
  width: 100%;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.speech-external {
  padding: 1rem;
  font-size: 1.25rem;
  text-wrap: balance;
}

.read-more {
  width: 100%;
  height: 10vh;
  background-color: #141414;
  color: white;
  font-size: 1.25rem;
}

.speech-head-reverse {
  margin-top: 30px;
  width: 100%;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.speech-title-author {
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.speech-title {
  padding: 0.5rem;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1;
}

.speech-author {
  padding: 0.5rem;
  font-size: 1.125rem;
  font-weight: 500;
  color: #555;
}

.welcome-space {
  width: 100%;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.5rem;
  font-weight: 600;
}

.speech-image {
  width: 60%;
  height: 100%;
  background-color: #555;
}

.mobile-director {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.director-image {
  background: url(https://drive.google.com/uc?export=view&id=1vzGwgDPMk0whTXTLB_4NrCcZi58LYV0b);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.close {
  font-size: 1.5rem;
  padding: 1rem;
  text-decoration: underline;
}

.director-modal {
  width: 100%;
  height: 100%;
  background-color: gainsboro;
}

.mobile-principal {
  width: 100%;
  height: auto;
  margin-top: 5px;
  border-top: thin solid black;
  border-bottom: 3px solid black;
  background-color: gainsboro;
}

.mobile-principal-image {
  background-color: black;
  background: url(./assets/mrdave.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 20%;
}

.advice-ol {
  font-size: 1.25rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

.mobile-headboy {
  margin-top: 5px;
  width: 100%;
  height: 66vh;
  margin-top: 5px;
  border-top: thin solid black;
}

.mobile-headboy-image {
  background-color: black;
  background: url(./assets/hbp.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 20%;
}

.headboy-modal {
  width: 100%;
  height: 100%;
  background-color: gainsboro;
}

.mobile-headgirl {
  margin-top: 60px;
  width: 100%;
  height: Auto;
  margin-bottom: 30px;
  border-top: thin solid black;
}

.mobile-headgirl-image {
  background-color: black;
  background: url(./assets/hgr.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 10%;
}

.headgirl-modal {
  width: 100%;
  height: 100%;
  background-color: green;
}

.classof {
  width: 100%;
  height: 55vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}

.classof-img {
  width: 95%;
  height: 80%;
  background: url(./assets/IMG_9907a.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.classof-text {
  padding-top: 0.5rem;
  font-size: 2rem;
  font-weight: 600;
}

.mobile-students {
  width: 97.5%;
  margin-inline: 1.25%;
  margin-top: 10px;
  height: 350vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 10px;
  background-color: gainsboro;
  padding-bottom: 50px;
}

.mobile-student {
  width: 100%;
  height: 100%;
  background-color: #555;
  border: thin solid black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.mobile-student-name {
  height: 20%;
  width: 100%;
  border: thin solid black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-weight: 500;
}

.mobile-recognition {
  border-top: 3px solid black;
  width: 100%;
  height: 150vh;
}

.mobile-rec-title {
  font-size: 2.5rem;
  font-weight: 600;
  padding: 1rem;
}

.rec-writeup-content {
  font-size: 1.25rem;
  padding: 1rem;
}

.rec-writeup {
  width: 100%;
  height: auto;
  border-top: 3px solid black;
}

.mobile-rec-menu {
  width: 100%;
  height: 90vh;
}

.mobile-rec-item {
  width: 100%;
  height: 33%;
  border: 2px solid black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: gainsboro;
}

.mobile-rec-item-reverse {
  width: 100%;
  height: 33%;
  border: thin solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.mobile-rec-item-name {
  width: 55%;
  height: 100%;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-left: 1rem;
  font-weight: 500;
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(0, 0, 0, 0.126);
          text-decoration-color: rgba(0, 0, 0, 0.126);
  border-right: 2px solid black;
}

.mobile-rec-dialog {
  width: 100%;
  height: 90%;
  margin-top: 10%;
}

.rec-dialog-header {
  font-size: 2.5rem;
  text-decoration: underline;
}

.rec-dialog-first-pic {
  width: 70%;
  margin-top: 5%;
  margin-left: 15%;
  height: 40%;
  background-color: #094a36;
  border: 2px solid black;
}

.rec-dialog-text {
  font-size: 1.25rem;
  margin-top: 2rem;
}

.kart-pic {
  background: url(./assets/cart1.jpg);
  background-size: cover;
  background-position: 89%;
}

.kart-pic2 {
  background: url(./assets/cart4.jpg);
  background-size: cover;
  background-position: 89%;
}

.kart-pic3 {
  background: url(./assets/cart2.jpg);
  background-size: cover;
  background-position: 89%;
}

.mun-pic {
  background: url(./assets/mun1.jpg);
  background-size: cover;
  background-position: 89%;
}

.mun-pic2 {
  background: url(./assets/mun2.jpg);
  background-size: cover;
  background-position: 89%;
}

.mun-pic3 {
  background: url(./assets/mun6.jpg);
  background-size: cover;
  background-position: 89%;
}

.ath-pic {
  background: url(./assets/slide3.jpg);
  background-size: cover;
  background-position: center;
}

.ath-pic2 {
  background: url(./assets/ath2.jpg);
  background-size: cover;
  background-position: center;
}

.ath-pic3 {
  background: url(./assets/ath4.jpg);
  background-size: cover;
  background-position: center;
}

.mobile-rec-item-reverse > .mobile-rec-item-name {
  border-left: thin solid black;
}

.mobile-footer {
  border-top: 5px solid #21116F;
  width: 100%;
  height: 60vh;
  background-color: black;
}

.ali {
  background: url(./assets/2.jpg);
  background-size: cover;
}

.ajiri {
  background: url(./assets/17.jpg);
  background-size: cover;
}

.asuquo {
  background: url(./assets/6.jpg);
  background-size: cover;
}

.bawas {
  background: url(./assets/10.jpg);
  background-size: cover;
}

.dania {
  background: url(./assets/4.jpg);
  background-size: cover;
}

.edeh {
  background: url(./assets/5.jpg);
  background-size: cover;
}

.emmanuel {
  background: url(./assets/13.jpg);
  background-size: cover;
}

.enoma {
  background: url(./assets/7.jpg);
  background-size: cover;
}

.habu {
  background: url(./assets/12.jpg);
  background-size: cover;
}

.harry {
  background: url(./assets/8.jpg);
  background-size: cover;
}

.james {
  background: url(./assets/14.jpg);
  background-size: cover;
}

.mubarak {
  background: url(./assets/15.jpg);
  background-size: cover;
}

.solu {
  background: url(./assets/21.jpg);
  background-size: cover;
}

.oseni {
  background: url(./assets/16.jpg);
  background-size: cover;
}

.pius {
  background: url(./assets/18.jpg);
  background-size: cover;
}

.thomas {
  background: url(./assets/1.jpg);
  background-size: cover;
}

.clinton {
  background: url(./assets/19.jpg);
  background-size: cover;
}

.duke {
  background: url(./assets/20.jpg);
  background-size: cover;
}

.kart-thumb {
  background: url(./assets/cart1.jpg);
  background-size: cover;
  background-position: center;
  width: 80%;
  height: 100%;
}

.mun-thumb {
  background: url(./assets/mun2.jpg);
  background-size: cover;
  background-position: center;
  width: 80%;
  height: 100%;
}

.ath-thumb {
  background: url(./assets/slide3.jpg);
  background-size: cover;
  background-position: center;
  width: 80%;
  height: 100%;
}

.mobile-gallery {
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

.gallery-text {
  font-size: 3rem;
  width: 100%;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  padding: 1rem;
  font-weight: 600;
  margin-bottom: 10vh;
}

.slide1 {
  width: 100%;
  height: 50vh;
  background: url(./assets/slide1.jpg);
  background-size: cover;
}

.slide3 {
  width: 100%;
  height: 50vh;
  background: url(./assets/slide3.jpg);
  background-size: cover;
  background-position: center;
}

.slide4 {
  width: 100%;
  height: 50vh;
  background: url(./assets/slide4.jpg);
  background-size: cover;
  background-position: center;
}

.slide5 {
  width: 100%;
  height: 50vh;
  background: url(./assets/slide5.jpg);
  background-size: cover;
  background-position: center;
}
/*# sourceMappingURL=index.css.map */